# Android generated
bin/
gen/
obj/
debug/
release/

# Ant
# build.xml
lint.xml

# Maven
target/
pom.xml.*

# Eclipse
.externalToolBuilders/
.settings

# IntelliJ
*.iml
*.ipr
*.iws
.idea/
out/

# Mac 
.DS_Store

# svn
.svn

# vim
*.swp

# proguard
proguard

# Gradle
.gradle
build
build/
.idea
gradle/
gradlew
gradlew.bat

.scannerwork/
